* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;
}

h3 {
    font-size: 24px;
}

nav .fa {
    font-size: 16px;
}

.fa {
    font-size: 40px !important;
    font-weight: 500;
}

a {
    color: #ff00cc;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #333399;
}

.text-pink,
.font-color {
    color: #ff00cc;
}

span {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
}

span:hover {
    text-decoration: none;
}

.Feature,
.Factor-section,
.Testimonial,
.Portfolio,
.Client-slider,
.Contact-us,
.New-project {
    padding-top: 80px;
    padding-bottom: 80px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.shadow {
    box-shadow: 0 10px 30px 0 rgb(67 80 98 / 24%), 0 2px 4px 0 rgb(67 80 98 / 10%) !important;
}

.btn {
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    padding: 9px 25px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.btn-primary {
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.btn-primary:hover,
.btn-pink:hover {
    background-color: #333399 !important;
    background-image: none;
    border-color: #333399 !important;
}

.btn-primary:focus {
    background-color: transparent;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.btn-pink {
    font-size: 14px;
    display: inline-block;
    background-color: #ff00cc;
    border-color: #ff00cc;
    box-shadow: -5px 8px 20px 0px rgb(229 16 2 / 15%);
}

.form-control:focus {
    border-color: #ff00cc;
    box-shadow: 0 0 0 0.2rem rgb(253 101 90 / 25%);
}

/* Header-navbar */
.header-navbar{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 11;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.8
}


/* Header-navbar */
/* Feature */
.features-holder {
    transition: all .2s ease-in-out 0s !important;
}

/* Feature:the end */
/* Factor */
.Factor {
    position: relative;
    background-image: url(../Image/bg.jpg);
    background-position: 0% 3.56562px;
    background-size: cover;
    color: #fff;
    margin-bottom: 80px;
}

.Factor:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #333399, #ff00cc);
}

#section-contain {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
}

/* Factor : the end */
/* Factor-section */
.progress-bar {
    background-color: #ff00cc;
}

/* Factor-section : the end */
/*  Testimonials: Start */
.Testimonial {
    position: relative;
    background-image: url(../Image/bg-white.jpg);
    background-position: 0% 14.0344px;
    background-size: cover;

}

.bg-white {
    color: #000;
}

.Testimonial:before {
    position: absolute;
    display: block;
    content: "";
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.section-heading {
    position: relative;
    z-index: 2;
    margin-bottom: 80px;
}

.test-item .fa {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 50px;
}

.testi-text {
    font-weight: 300;
    padding-bottom: 50px;
}

.testi-img img {
    height: 60px;
    width: 60px !important;
    border-radius: 50%;
    display: inline-block !important;
    margin-right: 6px;
}

/* Testimonials : the end */
/* Portfolio */
.Portfolio-filters {
    margin-bottom: 15px;
}

.Portfolio-filters a {
    margin: 5px;
    cursor: pointer;
}

.product-link a {
    margin: 5px;
    font-size: 20px;
    color: #000;
}

.product-lists {
    overflow: hidden;
}

.single-product-item{
    width: 100%;
}

.single-product-item {
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.single-product-item:hover .product-link {
    top: 50%;
    opacity: 1;
}

.single-product-item:before {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
    opacity: 0;
}

.single-product-item:hover:before {
    opacity: 1;
}

.product-link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease;
}
.product-title {
    text-align: center;
}

/* Portfolio */

/* client-slider */
.Client-slider {
    background-position: 0% -58.9125px;
}

.Client-holder .item {
    padding: 0 40px;
}

span .fa {
    font-size: 20px !important;
    margin-top: 10px;
}

/* client-slider : the end */
/* New Project */
.New-project {
    background-position: 0% -15.0937px;
    margin-bottom: 0;
    padding-bottom: 0;
}

nav span .fa {
    font-size: 16px !important;
    padding: 0.5rem 1rem;
}

/* New Project */